@{
    ViewData["Title"] = "Index";
}

<h1>TP XX - Index</h1>
<a href='@Url.Action("Login")'><button class = "acceder">Ingresar</button></a>
<a href='@Url.Action("Registrarse")'><button class = "registrarse">Registrarse</button></a>