@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
    <h1>Bienvenido a Nuestra Pagina</h1>
<div class="indexView">
    <div class="botonesIndex">
        <a href='@Url.Action("Login")'><button class = "acceder">Iniciar Sesion</button></a>
        <a href='@Url.Action("Registrarse")'><button class = "registrarse">Registrarse</button></a>
    </div>
</div>