<div class="Logueo">
<div>
<form class="loginForm" Action='@Url.Action("VerificarLogin")'>
    <h3>Nombre de Usuario:</h3>
    <input type="text" name="Username" placeholder="Username">
    <h3>Contrase単a:</h3>
    <input type="password" name="Contrase単a" placeholder="Password">
    
    <input type="submit" class= "siguiente" value="Siguiente">
</form>
<div class="botnoneslogin">
    <a href='@Url.Action("OlvidoContrase単a")'><button class = "Olvido">Olvide mi contrase単a</button></a>
    <a href='@Url.Action("Registrarse")'><button class = "registrarse">Registrarse</button></a>
    </div>
<p class="aviso">@ViewBag.Error</p>

</div>



</div>
