<form Action='@Url.Action("VerificarLogin")'>
    <input type="text" name="Username" placeholder="Nombre de usuario">
    <input type="password" name="Contrase単a" placeholder="Contrase単a">
    <input type="submit" class = "siguiente" value="Siguiente">
</form>
<a href='@Url.Action("Registrarse")'><button class = "registrarse">Registrarse</button></a>
<a href='@Url.Action("OlvidoContrase単a")'><button class = "Olvido">Olvide mi contrase単a</button></a>

    <p class="aviso">@ViewBag.Error</p>
