<a href='@Url.Action("Registrarse")'><button class = "registrarse">Registrarse</button></a>
<form Action='@Url.Action("VerificarLogin")'>
    <input type="text" name="Username" placeholder="Nombre de usuario">
    <input type="password" name="Contraseña" placeholder="Contraseña">
    <input type="submit" class = "siguiente" value="Siguiente">
</form>
