<a href='@Url.Action("Login")'><button class = "acceder">Ingresar</button></a>
<form Action='@Url.Action("VerificarRegistrarse")'>
    <input type="text" name="Username" placeholder="Nombre de usuario">
    <input type="password" name="Contraseña" placeholder="Contraseña">
    <input type="date" name="fechaNacimiento">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="telefono" placeholder="numero de telefono">

    <input type="submit" class = "siguiente" value="Siguiente">
</form>
