USE [master]
GO
/****** Object:  Database [BaseTP09]    Script Date: 2/10/2023 08:52:36 ******/
CREATE DATABASE [BaseTP09]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BaseTP09', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseTP09.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BaseTP09_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BaseTP09_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BaseTP09].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BaseTP09]
GO
/****** Object:  User [alumno]    Script Date: 2/10/2023 08:52:36 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/10/2023 08:52:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Username] [varchar](50) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[fechaNacimiento] [date] NULL,
	[email] [varchar](50) NULL,
	[telefono] [varchar](15) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
